.root {
  height: 100vh;
  height: 100dvh;
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--text-color);
  position: relative;
  transition:
    opacity 0.3s,
    filter 0.3s;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0.75rem;
  text-align: center;

  span {
    display: inline-block;
    padding: 0.5rem 0.875rem;
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1;
    color: var(--text-color);
    background-color: color-mix(in srgb, var(--text-color) 12%, transparent);
    border-radius: 100px;
  }
}

.inside {
  position: relative;
  top: 10%;
  height: 90%;
}

.left,
.right {
  display: contents;
}

@media (orientation: landscape) {
  .inside {
    display: flex;
    flex-direction: row;
    top: calc(2.5625rem + 0.7rem);
    height: calc(100% - 2.5625rem + 0.7rem);
  }

  .left,
  .right {
    display: block;
    width: 50%;
    height: 80cqh;
  }

  .right {
    display: flex;
    flex-direction: column;
  }
}
