.root {
  margin-top: 15px;
}

.meter {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 225px;

  svg {
    height: 100%;
  }
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary);
  transform: translate(-50%, -50%);
}

.progress {
  stroke: var(--ring);

  &.setup {
    stroke: var(--chart-2)
  }

  &.round {
    stroke: var(--chart-5);
  }

  &.rest {
    stroke: var(--chart-2);
  }
}

.controls {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 999px;
  color: var(--primary);
  margin-right: 0.5rem;
}

.play {
  color: var(--accent);
}

.sequenceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
  text-align: center;
  
  .sequenceType {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.3);
      margin: 0.3rem auto;
    }
  }
  
  .round {
    font-size: 1rem;
  }
}
