.root {
  height: 100vh;
  height: 100dvh;
  background-color: var(--background);
  box-sizing: border-box;
  color: var(--text-color);
  position: relative;
  transition:
    opacity 0.3s,
    filter 0.3s;
}

.inside {
  position: relative;
  top: 8%;
  height: 92%;
}
