.root {
  --height: calc(100% - 80cqw - 6rem);

  position: relative;
  height: var(--height);
  container-type: size;

  mask-image: linear-gradient(
    to bottom,
    transparent calc(10% - 0.4rem),
    black calc(50% - 2rem),
    black calc(50% + 2rem),
    transparent calc(90% + 0.4rem)
  );
}

.inside {
  height: 100%;
  padding-top: calc(50cqh - 1.25rem);
  padding-bottom: calc(50cqh - 1.25rem);
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--text-color);

  span {
    display: inline-block;
    padding: 0.4rem 0.4rem 0.2rem;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: rgb(from var(--text-color) r g b / 80%);
      transform: scaleX(0);
      transform-origin: center;
      opacity: 0;
    }
  }

  &.active {
    opacity: 1;

    span::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  &.distance {
    opacity: 0.6;
  }
}

.mounted .item {
  transition:
    transform 0.5s ease,
    opacity 0.5s ease,
    margin 0.5s ease;

  span::after {
    transition:
      transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1) 0.2s,
      opacity 0.5s ease 0.2s;
  }
}

@media (orientation: landscape) {
  .root {
    flex: 1;
  }
}
