.root {
  margin-top: 2vh;
  height: calc(54vh - 3rem);
  padding-top: calc(27vh - 1.5rem);
  padding-bottom: calc(27vh - 1.5rem);
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* 스크롤바 숨기기 (Chrome, Safari, Opera) */
  &::-webkit-scrollbar {
    display: none;
  }
}

.mounted .item {
  transition: transform .3s ease, opacity .3s ease;
}

.item {
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--primary);
  opacity: .3;

  &.active {
    opacity: 1;
    transform: scale(1.2);
  }
  
  &.distance1 {
    opacity: 0.25;
    transform: scale(0.7);
  }
  
  &.distance2 {
    opacity: 0.2;
    transform: scale(0.6);
  }
  
  &.distance3 {
    opacity: 0.15;
    transform: scale(0.5);
  }
  
  &.distance4 {
    opacity: 0.1;
    transform: scale(0.4);
  }

  span {
    display: inline-block;
    padding: .4rem .4rem .2rem .4rem;
    border-bottom: 2px solid var(--ring);
  }
}
