.root {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 8vh;
}

.setting {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 8vh;
  height: 8vh;

  svg {
    width: 2rem;
    height: 2rem; 
  }
}
