.root {
  position: relative;
  display: flex;
  justify-content: center;
  height: 3rem;
  padding: 2vh 0;
  box-sizing: content-box;
}

.button {
  width: 3rem;
  height: 3rem;
  color: var(--primary);
  margin-right: 0.6rem;
  font-size: 1.3rem;
  border-radius: 999px;
  border-color: rgb(from var(--primary) r g b / 0.2);
 
  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 1.3rem;
    height: 1.3rem; 
  }
}

.play {
  width: auto;
  color: var(--background);
  background-color: var(--primary);
}

.setting {
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}